<ion-view view-title="积分与称谓">
    <ion-nav-buttons  side="right">
        <a class="button button-icon ion-share" ng-click=""></a>
    </ion-nav-buttons>
    <ion-content>
        <div>
            <div style="margin-left: 10px; margin-top: 10px; font-size: large">
                <div style="">
                <div style="margin-top: 10px"><span>我的积分：</span><span style="color: rgb(87,194,182);">100</span></div>
                <div style="margin-top: 10px">
                    <span>我的称谓：</span><span style="color: rgb(87,194,182);">环保小卫士</span>
                    <img src="img/community-title.png">
                </div>
            </div>
            <div>
                <button class="credits-button button button-calm" style="left: 3px;">查看称谓与积分规则</button>
                <button class="credits-button button button-energized" style="right: 3px;">我的兑换记录</button>
            </div>
        </div>
        <div class="credits-img"><img style="width: 100%;" src="img/credits1.jpg"></div>
        <div class="list">
            <a class="item item-thumbnail-left item-icon-right" href="#">
                <img src="img/credits3.jpg">
                <h2 style="margin-top: 10px">【兑换】彩色加厚垃圾袋</h2>
                <p style="margin-top: 12px">[包邮]15积分兑换彩色加厚垃圾袋一个</p>
                <p style="color: rgb(87,194,182); font-size: larger; margin-top: 12px">15积分</p>
                <button class="gift-button button button-energized">立即兑换</button>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#">
                <img src="img/credits2.jpg">
                <h2 style="margin-top: 10px">【兑换】环保袋</h2>
                <p style="margin-top: 12px">[包邮]30积分兑换环保袋一个</p>
                <p style="color: rgb(87,194,182); font-size: larger; margin-top: 12px">30积分</p>
                <button class="gift-button button button-energized">立即兑换</button>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#">
                <img src="img/credits4.jpg">
                <h2 style="margin-top: 10px">【兑换】20cm环保大使玩偶</h2>
                <p style="margin-top: 12px">[包邮]50积分兑换环保大使玩偶一个</p>
                <p style="color: rgb(87,194,182); font-size: larger; margin-top: 12px">50积分</p>
                <button class="gift-button button button-energized">立即兑换</button>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#">
                <img src="img/credits5.jpg">
                <h2 style="margin-top: 10px">【兑换】经典型运动乐扣杯</h2>
                <p style="margin-top: 12px">[包邮]100积分兑换经典型运动乐扣杯一个</p>
                <p style="color: rgb(87,194,182); font-size: larger; margin-top: 12px">100积分</p>
                <button class="gift-button button button-energized">立即兑换</button>
            </a>
            <a class="item item-thumbnail-left item-icon-right" href="#">
                <img src="img/credits6.jpg">
                <h2 style="margin-top: 10px">【兑换】电脑键盘清洁剂</h2>
                <p style="margin-top: 12px">[包邮]120积分兑换电脑键盘清洁剂一个</p>
                <p style="color: rgb(87,194,182); font-size: larger; margin-top: 12px">120积分</p>
                <button class="gift-button button button-energized">立即兑换</button>
            </a>
        </div>
    </ion-content>
</ion-view>
