<ion-view view-title="{{l_signup}}">
    <ion-content>
        <form ng-submit="doSignup(signupData)">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">{{l_user}}</span>
                    <input type="text" ng-model="signupData.UserName">
                </label>
                <label class="item item-input">
                    <span class="input-label">{{l_passwd}}</span>
                    <input type="password" ng-model="signupData.Password">
                </label>
                <label class="item item-input">
                    <span class="input-label">{{l_repeat}}</span>
                    <input type="password" ng-model="signupData.ConfirmPassword">
                </label>
                <label class="item item-input">
                    <span class="input-label">{{l_email}}</span>
                    <input type="email" ng-model="signupData.Email">
                </label>
                <label class="item item-input">
                    <span class="input-label">{{l_location}}</span>
                    <input type="text" ng-model="signupData.Location">
                </label>
                <div class="list">
                    <label class="item item-radio">
                        <input type="radio" name="group" ng-model="signupData.Gender" ng-value="l_male">
                        <div class="item-content">
                            {{l_male}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group" ng-model="signupData.Gender" ng-value="l_female">
                        <div class="item-content">
                            {{l_female}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">{{l_signup}}</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
