<style>.tabs {display: none;}</style>
<ion-view view-title="认证">
    <ion-content>
        <div class="list">
                <label class="item item-input item-stacked-label">
                <span class="input-label">姓名</span>
                <input type="text" placeholder="请输入您的姓名" ng-model="myDetails.RealName">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">身份证号</span>
                <input type="text" placeholder="请输入您的身份证号" ng-model="myDetails.Id">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">出生年月</span>
                <input type="text"  placeholder="请输入您的出生年月" ng-model="myDetails.RegisterDate">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    您的性别：
                </div>
                <select>
                    <option {{thisGender}}>男</option>
                    <option {{thisGender}}>女</option>
                </select>
            </label>
        </div>
        <div style="text-align: center;">
            <img src="img/auth1.png">
        </div>
        <div style=" text-align: center;margin-top: 20px;">
            <button class="button button-positive" id="auth-button" style="width:98%;" ng-click="doAuth()">
                提交
            </button>
        </div>
    </ion-content>
</ion-view>
