<ion-view view-title="设置"class="custom-background">
  <ion-content>
    <div class="list">
    </div>
    <div class="list">
        <ion-item class="item item-icon-left" ng-click="login('tab.account')">
            <i class="icon ion-log-in"></i>
            <h2>登录</h2>
        </ion-item>
        <ion-item class="item item-icon-left" ng-click="logout()">
            <i class="icon ion-log-out"></i>
            <h2>退出登录</h2>
        </ion-item>
        <ion-item class="item item-icon-left" ng-click="changePw()">
            <i class="icon ion-edit"></i>
            <h2>更改密码</h2>
        </ion-item>
        <ion-item class="item item-icon-left item-icon-right" href="#/tab/account/share">
            <i class="icon ion-social-pinterest"></i>
            <h2>关联帐户</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </div>
    <ul class="list">
        <li class="item item-toggle item-icon-left">
            <i class="icon ion-android-compass"></i>
            座标纠偏
            <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="settings.onMars" ng-change="gcj02Switch()">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle item-icon-left">
            <i class="icon ion-bug"></i>
            抓虫模式
            <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="settings.debug" ng-change="debugSwitch()">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle item-icon-left">
            <i class="icon ion-cloud"></i>
            实时数据
            <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="settings.useRealtimeData" ng-change="realtimeSwitch()">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle item-icon-left">
            <i class="icon ion-earth"></i>
            在线测试
            <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="settings.online" ng-change="localSwitch()">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <label class="item item-input item-icon-left">
            <i class="icon ion-at"></i>
            <span class="input-label leftpadding38">服务器地址</span>
            <input type="text" ng-model="settings.srvUrl">
        </label>
    </ul>
        <button class="button button-block button-outline button-calm" ng-click="settings.saveUrl()">
            保存
        </button>
  </ion-content>
</ion-view>
