<ion-view view-title="登录">
    <ion-content>
        <ion-item class="item item-icon-left" ng-click="login2('tencent')">
            <i class="icon ion-log-in"></i>
            <h2>腾讯微博</h2>
        </ion-item>
        <ion-item class="item item-icon-left" ng-click="login2('sina')">
            <i class="icon ion-log-in"></i>
            <h2>新浪微博</h2>
        </ion-item>
        <ion-item class="item item-icon-left" ng-click="login2('douban')">
            <i class="icon ion-log-in"></i>
            <h2>豆瓣</h2>
        </ion-item>
    </ion-content>
</ion-view>
