<ion-view view-title="我的消息">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">我的动态</div>
      <div class="item item-body item-icon-right">
        <div>
          暂无动态
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">消息提醒</div>
      <div class="item item-body item-icon-right">
        <div>
          有29条未读消息
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">好友申请</div>
      <div class="item item-body item-icon-right">
        <div>
          有3个新的好友申请
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
