<ion-view view-title="发布投诉">
    <ion-nav-buttons  side="right">
        <a class="button button-icon" ng-click="doPost()">发送</a>
    </ion-nav-buttons>
    <ion-nav-buttons  side="left">
        <a class="button button-icon" ng-click="resetPost()">取消</a>
    </ion-nav-buttons>
    <ion-content style="background-color: rgb(239,239,244)">
        <div class="list" style="margin-bottom: 0; background-color: #ffffff">
            <label class="item item-input" style="border: 0px;">
                <textarea ng-model="post.content" placeholder="请输入您的投诉内容..." cols="40" rows="6" id="test"></textarea>
            </label>
            <img class="photo-thumb" ng-repeat="photo in photos" ng-src="{{photo}}">
            <img ng-click="addPhoto()" class="photo-thumb" src="img/complaint-add.png">
            <!--
            <img ng-click="captureVideo()" class="photo-thumb" src="img/complaint-add.png">
            <video width="98" height="98" ng-repeat="video in videos" controls>
                <source src="{{video}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            -->
        </div>
        <div class="list">
            <label ng-click="changePlace()" class="item item-icon-left">
                <i class="icon ion-ios-location-outline"></i>
                {{currentPlace}}
            </label>
            <label class="item item-input item-icon-left custom-padding">
                <span class="input-label input-label-icon"><i class="icon placeholder-icon ion-ios-pricetags-outline no-left-padding"></i></span>
                <input type="text" ng-model="post.tags" placeholder="添加标签，以空格分隔（必填）">
            </label>
            <label class="item item-input item-icon-left custom-padding">
                <span class="input-label input-label-icon"><i class="icon placeholder-icon ion-clipboard no-left-padding"></i></span>
                <!-- <span>违规企业名称（可选）</span> -->
                <!-- <select ng-model="post.company" id="company-select">
                    <option value="无">无</option>
                </select> -->
                <input type="text" ng-model="post.companyExtra" placeholder="违规企业名称（可选）">
            </label>
        </div>
        <ul class="list">
            <li class="item item-toggle item-icon-left">
                <i class="icon">
                    <span class="icon-color-entering-heaven-alive">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                    </span>
                </i>
                同步分享到微信朋友圈
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle item-icon-left">
                <i class="icon">
                    <span class="icon-color-conference-call">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                    </span>
                </i>
                同步分享到新浪微博
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>
