<ion-view view-title="个人中心" class="custom-background">
    <ion-content>
        <div style="background:url(img/account-bg1.jpg);background-size: 100%; width:100%; color:white">
            <div class="row">
                <div class="col" style="text-align:center">
                    <a href="#">
                        <img src="img/community-user1.jpg" style="width: 80px; height:80px; margin-top: 20px; border-radius:59%; border:5px solid white">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align:center; border-bottom-style:solid; border-bottom-width:1px">
                    <p>环保小卫士</p>
                    <p>{{userName}}</p>
                </div>
            </div>
            <div class="row" style="color:white; margin-left:0px; margin-right:0px; margin-bottom:10px; margin-top:10px;">
                <div class="col" style="text-align: center; border-right-style: solid; border-right-width:1px">
                    <a href="#" style="color: white; text-decoration:none;">
                        <font size="5">{{myPost}}</font><br />
                        <font size="2">发布</font>
                    </a>
                </div>
                <div class="col" style="text-align: center; border-right-style: solid; border-right-width:1px">
                    <a href="#" style="color: white; text-decoration:none">
                        <font size="5">{{myFollow}}</font><br />
                        <font size="2">关注</font>
                    </a>
                </div>
                <div class="col" style="text-align: center;">
                    <a href="#" style="color: white; text-decoration:none">
                        <font size="5">{{myLike}}</font><br />
                        <font size="2">赞</font>
                    </a>
                </div>
            </div>
        </div>

        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#/tab/account/messages">
                <i class="icon">
                    <span class="icon-color-sms">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                    </span>
                </i>
                <h2>我的消息</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>

        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#/tab/account/auth">
                <i class="icon">
                    <span class="icon-color-approve">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                    </span>
                </i>
                <h2>实名认证</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/account/credits">
                <i class="icon">
                    <span class="icon-color-graduation-cap">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                    </span>
                </i>
                <h2>积分与称谓</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>

        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#/tab/account/discussions">
                <i class="icon">
                    <span class="icon-color-collaboration">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                    </span>
                </i>
                <h2>我的讨论</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/topics/my-complaints">
                <i class="icon">
                    <span class="icon-color-link">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                    </span>
                </i>
                <h2>我的投诉</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/account/settings">
                <i class="icon">
                    <span class="icon-color-settings">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                    </span>
                </i>
                <h2>设置</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>

        <button class="button button-full button-light" ng-click="logout()">
            退出登录
        </button>

    </ion-content>
</ion-view>
