<ion-view view-title="数据中心">
    <ion-content>
        <div class="list">

            <a class="item item-thumbnail-left item-icon-right" href="#tab/topics/data/history">
                <img src="img/history-aqi.jpg">
                <h2>历史空气质量查询</h2>
                <p>更新时间：{{today}}</p>
                <p>来源：中华人民共和国环境保护部</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right" href="#tab/topics/data/today">
                <img src="img/china-aqi.jpg">
                <h2>今日全国空气质量</h2>
                <p>更新时间：{{today}}</p>
                <p>来源：中华人民共和国环境保护部</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right" href="#tab/topics/data/pollution">
                <img src="img/air-pollutant.jpg">
                <h2>各地主要污染物排放量</h2>
                <p>更新时间：2015-01-12</p>
                <p>来源：中华人民共和国环境保护部</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right" href="#tab/topics/law">
                <img src="img/air-law.jpg">
                <h2>大气相关法律法规</h2>
                <p>更新时间：2015-04-08</p>
                <p>来源：中华人民共和国环境保护部</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

            <!-- <a class="item item-thumbnail-left item-icon-right" href="#tab/topics/law">
                <img src="img/air-std.jpg">
                <h2>大气环境保护标准</h2>
                <p>更新时间：2015-04-12</p>
                <p>来源：中华人民共和国环境保护部</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a> -->

        </div>
    </ion-content>
</ion-view>
