<style>.tabs {display: none;}</style>
<ion-view view-title="一站到底">
    <ion-content class="padding" style="padding: 0px;">

        <div class="card padding list" style="margin-top: 0px; margin-bottom: 0px;">
            <div style="text-align: center;" class="row item item-button-right">
                <div class="col col-20">
                    <a href="#">
                        <img src="img/community-user2.jpg" style="width: 80px; height:80px; margin-top: 0px; border-radius:59%; border:5px solid white">
                    </a>
                </div>
                <div class="col col-20" style="padding-top: 15px; padding-left: 0px;">
                    <span style="font-size: medium">Miss-A</span>
                    <br>
                    <span style="font-size: small;">环保达人</span>
                    <br>
                    <span style="font-size: small">积分：</span>
                    <span style="font-size: small; font-weight: 600">625</span>
                </div>
                <div class="col col-40" style="padding-top: 0px">
                    <a href="#">
                        <img src="img/vs.png" style="width: 80px; height:80px; margin-top: 0px; border-radius:59%; border:5px solid white">
                    </a>
                    <br>
                    <span>
                        <timer countdown="59" interval="1000" finish-callback="timeUp()">{{minutes}}分 {{seconds}}秒
                        </timer>
                    </span>
                </div>
                <!--<div class="col col-20"><a ng-click="stopTimer()" class="button button-assertive button-clear">Pause</a></div>-->
                <div class="col col-20" style="padding-top: 15px; padding-left: 0px;">
                    <span style="font-size: medium">既然琴声起</span>
                    <br>
                    <span style="font-size: small;">环保小卫士</span>
                    <br>
                    <span style="font-size: small">积分：</span>
                    <span style="font-size: small; font-weight: 600">339</span>
                </div>
                <div class="col col-20">
                    <a href="#">
                        <img src="img/community-user1.jpg" style="width: 80px; height:80px; margin-top: 0px; border-radius:59%; border:5px solid white">
                    </a>
                </div>
            </div>

            <div class="item" style="padding: 30px">
                <div class="question">
                    {{question.question}}
                </div>
            </div>
            <a class="button button-block button-royal" ng-repeat="choice in question.choices" ng-if="$index < 4"
                                                        ng-click="choose($index, 'X')" style="margin: 15px 0">
                    <span>{{choice}}</span>
            </a>
            <img src="img/quiz1.jpg" style="width: 100%; height: 260px;">

            <!--
            <div>
                {{question.myChoice}}
            </div>
            -->

            <div style="float: right">
                {{question.message}}
            </div>

            <div>
                {{say}}
            </div>

        </div>

        <!---->
        <!--<div class="button-bar">-->
            <!--<a ng-click="choose(1, 'A')" class="button button-royal">A</a>-->
            <!--<a ng-click="choose(2, 'B')" class="button button-positive">B</a>-->
            <!--<a ng-click="choose(3, 'C')" class="button button-calm">C</a>-->
        <!--</div>-->

    </ion-content>
    <div class="bar bar-footer bar-light">
    <button ng-click="prevQuestion()" class="button button-clear button-balanced">上一题</button>
    <button ng-click="nextQuestion()" class="button button-clear button-balanced">下一题</button>
</div>
</ion-view>
