<style>.tabs {display: none;}</style>
<ion-view view-title="各地主要污染物排放量">
    <ion-content class="padding">
        <label class="item item-select">
            <span class="select-label">年份</span>
            <select ng-model="userInput.year">
                <option value='2014年上半年'>2014年上半年</option>
                <option value='2013年全年'>2013年全年</option>
                <option value='2012年全年'>2012年全年</option>
                <option value='2011年全年'>2011年全年</option>
                <option value='2010年全年'>2010年全年</option>
            </select>
        </label>
        <label class="item item-select">
            <span class="select-label right-align">污染物</span>
            <select ng-model="userInput.item" ng-change="changeItem(userInput.item)">
                <option value='NH' selected>氨氮</option>
                <option value='NOx'>氮氧化物</option>
                <option value='O'>化学需氧量</option>
                <option value='SO2'>二氧化硫</option>
            </select>
            <!-- <input type="text" ng-model="userInput.year"> -->
        </label>
        <!-- <label class="item item-input">
            <span class="input-label">月份</span>
            <input type="month" ng-model="userInput.month">
        </label> -->
        <!-- <button class="button button-block button-positive" ng-click="doSearch()">
            搜索
        </button> -->
        <div id="aqi-table" ng-show="showTable">
            <div class="row header-row">
                <div class="col">年份</div>
                <div class="col">省份</div>
                <div class="col">排放量（万吨）</div> <!-- {{pollutants[userInput.item]}}</div> -->
            </div>
            <div class="row" ng-repeat="record in records | filter: userInput.year">
                <div class="col">{{record.Year}}</div>
                <div class="col">{{record.Province}}</div>
                <div class="col">{{record.Pollutant}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>

