<style>.tabs {display: none;}</style>
<ion-view view-title="历史空气质量查询">
    <ion-content class="padding">
        <label class="item item-input">
            <span class="input-label">城市</span>
            <input type="text" ng-model="userInput.city">
        </label>
        <label class="item item-input">
            <span class="input-label">月份</span>
            <input type="month" ng-model="userInput.month">
        </label>
        <button class="button button-block button-positive" ng-click="doSearch()">
            搜索
        </button>
        <div id="aqi-table" ng-show="showTable">
            <div class="row header-row">
                <div class="col">城市</div>
                <div class="col">日期</div>
                <div class="col">AQI指数</div>
                <div class="col">类别</div>
                <div class="col">首要污染物</div>
            </div>
            <div class="row" ng-repeat="record in records">
                <div class="col">{{record.City}}</div>
                <div class="col">{{record.Date}}</div>
                <div class="col">{{record.AQI}}</div>
                <div class="col" style="color: {{record.textColor}}; background-color: {{record.levelColor}}">{{record.Level}}</div>
                <div class="col">{{record.Pollutant}}</div>
            </div>
        </div>
        <!-- <table id="aqi-table" ng-show="showTable">
            <tr>
                <th>城市</th>
                <th>日期</th>
                <th>AQI指数</th>
                <th>空气质量级别</th>
                <th>首要污染物</th>
            </tr>
            <tr ng-repeat="record in records">
                <td>{{record.City}}</td>
                <td>{{record.Date}}</td>
                <td>{{record.AQI}}</td>
                <td>{{record.Level}}</td>
                <td>{{record.Pollutant}}</td>
            </tr>
        </table> -->
    </ion-content>
</ion-view>

