<ion-view view-title="报表">
    <ion-nav-buttons side="right">
        <a ng-click="goMaps()" class="button button-icon ion-share"></a>
    </ion-nav-buttons>
    <ion-content class="custom-background">
        <div class="list" style="margin-top: 18px">
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon">
                    <span class="icon-color-sms">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                    </span>
                </i>
                <h2>添加我关注的城市</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div id="main" style="height: 400px; border-style: solid; border-width: thin; border-color: #c0c0c0; margin-top: 15px; margin-left: 10px; margin-right: 10px; border-radius:15px; background: #ffffff; "></div>
        <div id="newly" style="height: 400px; border-style: solid; border-width: thin; border-color: #c0c0c0; margin-top: 15px; margin-left: 10px; margin-right: 10px; border-radius:15px; background-color: #ffffff; "></div>
        <div id="accept" style="height: 400px; border-style: solid; border-width: thin; border-color: #c0c0c0; margin-top: 15px; margin-left: 10px; margin-right: 10px; border-radius:15px; background-color: #ffffff; "></div>
        <div id="dispose" style="height: 400px; border-style: solid; border-width: thin; border-color: #c0c0c0; margin-top: 15px; margin-left: 10px; margin-right: 10px; border-radius:15px; background-color: #ffffff; "></div>
        <div id="rectify" style="height: 400px; border-style: solid; border-width: thin; border-color: #c0c0c0; margin-top: 15px; margin-left: 10px; margin-right: 10px; border-radius:15px; background-color: #ffffff; "></div>
    </ion-content>
</ion-view>
