<!--<ion-view view-title="法规">-->
    <!--<ion-content>-->
        <!--<div class="card" style="width:170px; height: 250px; background-image:url(img/news1.jpg); background-size:cover;">-->

            <!--<div class="">-->
                <!--<h2>Pretty Hate Machine</h2>-->
                <!--<p>Nine Inch Nails</p>-->
            <!--</div>-->

        <!--</div>-->
    <!--</ion-content>-->
<!--</ion-view>-->
<style>.tabs {display: none;}</style>
<ion-view view-title="法规">
    <div style="height: 34px"></div>
    <img src="img/law1.jpg" style="height: 100%;width: 100%;" usemap="#lawmap">

    <map name="lawmap">
        <area shape="rect" coords="0,0,{{width/3}},{{height/3}}" href="#tab/topics/law/0" alt="">
        <area shape="rect" coords="{{width/3}},0,{{width/3*2}},{{height/3}}" href="#tab/topics/law/1" alt="">
        <area shape="rect" coords="{{width/3*2}},0,{{width}},{{height/3}}" href="#tab/topics/law/2" alt="">
        <area shape="rect" coords="0,{{height/3}},{{width/3}},{{height/3*2}}" href="#tab/topics/law/3" alt="">
        <area shape="rect" coords="{{width/3}},{{height/3}},{{width/3*2}},{{height/3*2}}" href="#tab/topics/law/4" alt="">
    </map>
    <!--
        <ion-content scroll="false">
        <div>
        </div>
        </ion-content>
    -->
</ion-view>

